.container {
    max-height: 95vh;
    overflow-x:auto !important;
    position: relative;
}
.header {
    margin: 0px;
    /* border: 1px red solid; */
    padding: 5px 15px;
    color: white;
}


table {
    position: relative;
}
tr:nth-child(even){
    background-color: #252222;
}
th {
    font-size: 14px;
}
tr {
    font-size: 18px;
}
/** 
* Top header sticks when scrolling on mobile
*/
thead th {
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 1);
    position: -webkit-sticky; /* for Safari */
    background-color: #161313!important;
    position: sticky !important;
    top: 0;

}

/** 
* Top left 'Country' header sticks when scrolling on mobile
*/
thead th:first-child {
    left: 0;
    z-index: 1;

    border-right: 1px solid rgb(255, 255, 255);

}


/** 
* Top left 'Country' header sticks when scrolling on mobile
*/
tbody tr td:first-child{ 
    background-color: #161313;
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    left: 0;
    border-right: 1px solid rgb(255, 255, 255);
}

.greenText {
    color: rgb(83, 236, 137);
}
.redText {
    color: rgb(233, 91, 91);
}
.orangeText {
    color: rgb(219, 135, 79);
}
.greyText {
    color: rgb(211, 211, 211);
}

/**
* Additional styling
*/

.star {
    padding: 6px;
}


