.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.cards {
    color: rgb(255, 255, 255);
}
body {
    margin: 0;
    background: #2e353f;
}